.GradientContainer {
    background: linear-gradient(332deg, #13e2ee, #a385ff, #7047f2, #0931d2); /* Dark Versions: #0d738a #6a51a0 #422a6a #041e61*/
    background-size: 800% 800%;

    -webkit-animation: GradientAnimation 19s ease infinite;
    -moz-animation: GradientAnimation 19s ease infinite;
    animation: GradientAnimation 19s ease infinite;

    min-height: 93vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@-webkit-keyframes GradientAnimation {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
@keyframes GradientAnimation {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}

/* --------------------------------- */

.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Title {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;

    font-size: clamp(60px, 8vw, 100px);
}
.SubTitle {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;

    font-size: clamp(25px, 4vw, 40px);
}


.MT {
    margin-top: 60px;
    margin-bottom: 60px;
}

.LowerTitle {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;

    font-size: clamp(60px, 8vw, 80px);
}
.Paragraph {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;

    text-align: center;

    font-size: clamp(15px, 8vw, 22px);

    max-width: clamp(200px, 80vw, 800px);
}
.Link {
    color: black;
    font-weight: 500;

    transition: 0.2s;
    text-decoration: none;
}
.Link:hover {
    color: #435fff;
}
.Link:focus {
    color: #435fff;
}
.AM {
    min-height: 86vh;
}