.GradientContainer {
    background: linear-gradient(332deg, #13e2ee, #a385ff, #7047f2, #0931d2); /* Dark Versions: #0d738a #6a51a0 #422a6a #041e61*/
    background-size: 800% 800%;

    -webkit-animation: GradientAnimation 19s ease infinite;
    -moz-animation: GradientAnimation 19s ease infinite;
    animation: GradientAnimation 19s ease infinite;

    min-height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@-webkit-keyframes GradientAnimation {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
@keyframes GradientAnimation {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}

/* --------------------------------- */

.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Title {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;

    font-size: clamp(60px, 8vw, 100px);
}

.ButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 50px;

    margin-top: 140px;
}
.Button {
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 10px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

    width: 150px;
    height: 50px;
    margin: 0 20px;

    transition: .2s;
}
.Button:hover {
    background-color: #cecece;

    margin-top: -20px;
}